/* -------------------------- General -----------------------------*/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}
body{

	overflow-x: hidden;
	scroll-behavior: smooth !important;
}

.container-custom{

	max-width: 1140px;
	padding: 30px;
	margin:auto;
}

a{
	text-decoration: none;

}

.mt-100px{

	margin-top: 100px;
}
.my-edit{

	margin-top: 125px;
	margin-bottom: 125px;
}
.opacity-activate{

	opacity: 1 !important;
	transition: opacity .8s ease-out !important;
}

.btn-outline-primary{

	color: #1c89d5;
	padding: 15px 30px;
	border-radius: 8px;
	border-color: #1c89d5;
}

.btn-outline-primary:hover{

	border-color:#1c89d5;
	background: #1c89d5;

}



/*---------------------------- navbar ------------------------------------------*/

nav{


	width: 100%;
	z-index: 999;
	background-color: transparent;
	max-width: 1140px;

}

.nav-item{

	padding: 0px 10px; 
}
.title-brand{
	background-color: red;
	
}

#box-title-brand{
	animation: go-down 3.4s ease-out;
}

#start-link{
	animation: go-down 3.5s ease-out;
}

#about-me-link{
	animation: go-down 3.6s ease-out;
}

#projects-link{
	animation: go-down 3.7s ease-out;
}

#contact-link{
	animation: go-down 3.8s ease-out;
}

#resume-link{

	animation: go-down 3.9s ease-out;
}



/*---------------------------- Hero ------------------------------------------*/

#hero{

	padding-top: 10%;
}

#type-text{

 	width: 100%;
 	border-right: 5px solid;
 	white-space: nowrap;
 	overflow: hidden;
 	letter-spacing: 3px;
 	animation: 
 		typing 2s steps(17),
 		cursor .4s step-end infinite alternate;
}

.image{

	background: url(./assets/img/perfil.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 150px;
	width: 150px;
	border-radius: 50%;
}
.introduce-card{
	position: relative;
	width: 650px;
	height: 300px;
	padding: 30px;
	/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
animation: moveleft 3.2s ease-out;
}



#name{

	font-weight: 500;
}
#line-right{

	position: absolute;
	width: 200vw;
	top: 50%;
	right: -200vw;
	height: 3px;
	background: rgb(27,136,213);
	background: linear-gradient(90deg, rgba(27,136,213,1) 0%, rgba(72,195,217,1) 20%, rgba(77,202,217,1) 36%, rgba(84,211,217,1) 49%, rgba(85,212,217,1) 62%, rgba(106,240,219,1) 80%); 

}

.box-line-bottom{

	height: 450px;
}

#line-bottom{

	position: relative;
	width: 3px;
	height: 100%;
	top: 0px;
	left:30%;
	background: rgb(27,136,213);
	background: linear-gradient(0deg, rgba(106,240,219,1)  0%,rgba(85,212,217,1)  20%, rgba(84,211,217,1) 36%,rgba(77,202,217,1)  49%,rgba(72,195,217,1)  62%, rgba(27,136,213,1) 80%);  
	animation: go-line-down 4s ease-out;
}

#line-bottom-2{

	position: relative;
	width: 3px;
/*	height: 100%;*/
	top: 0px;
	left:30%;
	background: rgb(27,136,213);
	background:linear-gradient(0deg, rgba(27,136,213,1) 0%, rgba(72,195,217,1) 20%, rgba(77,202,217,1) 36%, rgba(84,211,217,1) 49%, rgba(85,212,217,1) 62%, rgba(106,240,219,1) 80%); 
	
}

.go-down{ height: 100%; animation: go-line-down-2 .7s ease-out; }
.go-down-pseudo{ animation: go-line-down-pseudo-2 .9s ease-out;	 }



#line-bottom:after{

	content:"\f007";
	font-family: "Font Awesome 5 Free";
	font-weight:200;
	font-size: 30px;
	position: absolute;
	bottom:-50px;
	left: calc(50% - 14px);
	transition: opacity .2s ease-out;
	animation: go-line-down-pseudo 4.2s ease-out;
	color: white;

}

#line-bottom:before{

	content: '';
	width: 50px;
	height: 50px;
	border-radius: 100%;
	position: absolute;
	background: #69f0da;
	filter: blur(18px);
	bottom: -55px;
	left: calc(50% - 25px);
	transition: opacity .2s ease-out;
	animation: go-line-down-pseudo 4.2s ease-out;	
}


#line-bottom-2:after{

	content:"\f0f2";
	font-family: "Font Awesome 5 Free";
	font-weight:900;
	font-size: 30px;
	position: absolute;
	bottom:-50px;
	left: calc(50% - 14px);
	transition: opacity .2s ease-out;
/*	animation: go-line-down-pseudo 4.2s ease-out;*/
	color: whitesmoke;

}

#line-bottom-2:before{

	content: '';
	width: 50px;
	height: 50px;
	border-radius: 100%;
	position: absolute;
	background:#2d9fd6;
	filter: blur(18px);
	bottom: -55px;
	left: calc(50% - 25px);
	transition: opacity .2s ease-out;
	
}



/*---------------------------- About me ------------------------------------------*/


#about-me-text-section{

	opacity: 0;
	transition: opacity .8s ease-out;
}

#about-me-image-section{

	opacity: 0;
	transition: opacity 1.2 ease-out;
}

#about-me-tecno-section{
	
	opacity: 0;
	transition: opacity 1.2 ease-out;	
}

.margin-edit{

	margin-top: 350px;
}



.border-image{

	
	min-height: 300px;
	width: 300px;
	border: 2px solid #6af0db;
	border-radius: 16px;
}

.image-about{

	background: url(./assets/img/perfil.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 300px;
	height: 300px;
	position: relative;
	bottom: 20px;
	right: 20px;
	border-radius: 16px;
}

.circle{
	z-index: -1;
	height: 1200px;
	width: 1200px;
	background: linear-gradient(90deg, rgba(27,136,213,1) 0% , rgba(72,195,217,1)20%, rgba(77,202,217,1) 36%, rgba(84,211,217,1) 49%, rgba(85,212,217,1) 62%,rgba(106,240,219,1) 80%) ; 
	border-radius: 100%;
	position: absolute;
	bottom: 800px;
	left: 900px;
}

.circle-left{
	z-index: -1;
	height: 1200px;
	width: 1200px;
	background: linear-gradient(90deg, rgba(27,136,213,1) 0% , rgba(72,195,217,1)20%, rgba(77,202,217,1) 36%, rgba(84,211,217,1) 49%, rgba(85,212,217,1) 62%,rgba(106,240,219,1) 80%) ; 
	border-radius: 100%;
	position: absolute;
	top: 0px;
	left: -50%;
}

.list-tecno{
	list-style: none;
}
.list-tecno>li{

	padding: 10px;
	cursor: pointer;
	border-radius: 10px;
	border: 1px solid #6af0db;
	margin: 10px 0px;
	min-width:300px;
	max-width: 300px;
	transition: all .2s ease-out;
}

.list-tecno>li:hover,.active{
	transition: all .2s ease-out;
	color: white;
	background: rgba(84,211,217,1);	
}


.box-content-tecno{

	max-width: 50%;
}
.image-tecno{

	height: 200px;
	width: 200px;
}
.box-text-tecno{

	padding: 20px 10px;
}




/* ------------------------------------------------------------------------------- Contents tecno ---------------------------------------------- */

.focus{ display:flex !important; }

#laravel-img{

	background: url(./assets/img/laravel.svg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	
}

#wordpress-img{

	background: url(./assets/img/wordpress.svg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	
}

#vuejs-img{

	background: url(./assets/img/vue.svg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	
}

#elementor-img{

	background: url(./assets/img/elementor.svg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	
}

#bootstrap-img{

	background: url(./assets/img/bootstrap.svg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	
}

#tailwind-img{

	background: url(./assets/img/tailwind.svg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	
}

#oxygen-img{

	background: url(./assets/img/oxygen.svg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}



/*------------------------------------------------------ Projects ---------------------------------------------*/

#image-villadonq{

	background: url(./assets/img/villadonq.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	border-radius: 8px;
}

.card-project,#title-project-section{

	opacity: 0;
	transition: opacity .8s ease-out;
}

.card-project:nth-child(2n){

	flex-direction: row-reverse;
}
/*.box-content-project:nth-child(2n){
	background: red;
	justify-content: start;
}*/
.content-card-project{

	top: 10px;
	left: -30px;
	width: 560px;
	height: 100%;
	max-height: 290px;
	display: flex;
	justify-content: start;
	align-items: center;
}

.content-card-project-right{

	top: 10px;
	right: -30px;
	width: 560px;
	height: 100%;
	max-height: 290px;
	display: flex;
	justify-content: start;
	align-items: center;
}

.content-card-project>p,.content-card-project-right>p{

	display: inline-block;
	width: 100%;
	max-height: 200px;
	padding: 20px;
border-radius: 8px;
background: #ffffff;
box-shadow:  3px 3px 30px #d9d9d9,
             -3px -3px 30px #ffffff;
/*	background: rgba(255, 255, 255, 0.2);
border-radius: 8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);*/
/*	background: rgba(29, 139, 213, 1);*/
	overflow: hidden;
	color: black;

}





/* ------------------------------------------------------------------- Keyframes ---------------------------------------------*/

@keyframes go-down{

	0%{ transform: translateY(-300%);}
	80%{ transform: translateY(-300%);}
	100%{ transform: translateY(0%); }
}

@keyframes cursor{

	50%{ border-color: transparent;  }
}
@keyframes typing{

	from {width: 0%; }
}

@keyframes moveleft{

	0% { transform: translateX(200vw); }
	30% { transform: translateX(200vw); }
	50% { transform: translateX(200vw); }
	100% { transform: translateX(0px); }


}

@keyframes go-line-down-pseudo{

	0%{ opacity:0; }

	80%{ opacity:0; }
	
	100%{ opacity:1; }
} 

@keyframes go-line-down{

	0%{ height: 0px; }

	80%{ height: 0px; }
	
	100%{ height: 100%;	}
} 

@keyframes go-line-down-2{

from{ height:0px; }
to{ height:100%; }
}

@keyframes go-line-down-pseudo-2{

	0%{ opacity:0; }

	90%{ opacity:0; }
	
	100%{ opacity:1; }


}