
/*------------------------------------------------------------- Mobile ----------------------------*/

@media (max-width:522px)
{
	#box-card-image{ display:none; }

}

@media (max-width:768px )
{	
	.slider{display: none;}

	.hamburger{ display:block; }
	.navbar-nav-mobile{ display:flex; }
	.navbar-nav{ display:none; }	

	.navbar-nav-mobile.mobile-active
	{ 	
		transform: translateY(0px);
		transition: transform ease-out .5s;
	 }

	 .row{
	 	justify-content:center;
	 	gap: 20px;
	 	
	 }

	 .introduce-card{
		min-width: 100%;
	}

}

/*------------------------------------------------------------- Tablets ----------------------------*/

@media (max-width:1279px ) and (min-width: 900px)
{
	.hamburger{ display:none; }
	.navbar-nav{ display:flex }	
	.navbar-nav-mobile{ display:none; }
	.row{
	 	justify-content:center;
	 	gap: 20px;

	 }
	 .introduce-card{
		max-width: 600px;

	}

}

@media (max-width:900px ) and (min-width: 768px)
{
	.hamburger{ display:none; }
	.navbar-nav{ display:flex }	
	.navbar-nav-mobile{ display:none; }
	.row{
	 	justify-content:center;
	 	gap: 20px;

	 }
	 .introduce-card{
		max-width: 600px;
		width: 100%;

	}

	.slide img{

		width: 600px !important;
	}
	.slide
	{
		min-width:600px !important;
	}

	.slider--inner
	{
		width: 600px;
	}
	.slider
	{
		width: 100%;
	}
	.card-skills-resume
	{
		max-width:600px;
	}

}

/*------------------------------------------------------------- PCs ----------------------------*/

@media (min-width:1280px )
{
	.hamburger{ display:none; }
	.navbar-nav{ display:flex }	
	.navbar-nav-mobile{ display:none; }
}


/*------------------------------------------------------------- Mobile and Tablets ----------------------------*/

/*@media (max-width:768px )
{	
	.body-paused{

		overflow:hidden !important;
	}

	#row-info{

		display: flex;
		flex: content;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	#name{ text-align:center; }

	#box-card-image{ margin-bottom:10px; }

	.card-info{

		padding: 3px 0px;
	}


	.hamburger{ display:block; z-index: 999999999;}
	.navbar-nav{ display:none; }
	.navbar-nav-mobile{

		display: flex;
		transform: translateY(-200vh);
		transition: transform ease-out .3s;
		background: white;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 99999;
		width: 100%;
		height: 100vh;
		list-style: none;
	}
	

	 .nav-item{ padding:30px; }	

	 #box-title-brand{
	animation:none;
	}

	#start-link{
		animation:none;
	}

	#about-me-link{
		animation:none;
	}

	#projects-link{
		animation:none;
	}

	#contact-link{
		animation:none;
	}

	#resume-link{

		animation:none;
	}

	.circle-left{ display:none; }

	.introduce-card{

		width: 100%;
		height: 500px;
	}

	#about-me-text-section{ opacity:1; }
	#about-me-image-section{ opacity:1; }
	#about-me-tecno-section { opacity:1; }
	#line-bottom-2{ height: 100%; animation: go-line-down-2 .7s ease-out; }
	#title-project-section{ opacity:1; }	
  	#villadonq{ opacity:1; }
  	#maucake{ opacity:1; }
	#facilito{ opacity:1; }
	#sysver{ opacity:1; }

	#about-me-image-section{ margin-top:30px; }

	.box-content-tecno{
		max-width: 100%;
	}
	.image-tecno{

		height: 100px;
		width: 100px;
	}

	.content-card-project,.content-card-project-right{

		width: 100%;
	}

/*	.image-project{

		height: 500px !important;
	}*/

/*	.content-card-project,.content-card-project-right{

		  left: 0px;
  		  top: 150px;
 		  height: fit-content;
 		  max-height: 400px;
	}

	.content-card-project>p,.content-card-project-right>p{

		background: rgba( 0, 0, 0, 0.60 );
		box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
		backdrop-filter: blur( 4px );
		-webkit-backdrop-filter: blur( 4px );
		border-radius: 10px;
		border: 1px solid rgba( 255, 255, 255, 0.18 );
		color: white;
		max-height: 400px;
	}
	
	.card-project
	{
		flex-direction: column-reverse !important;
	}

	#projects{ padding-bottom:0px !important }

	.box-icons{ padding:20px; }

	#row-icons-email{ flex-direction:column-reverse !important; }

	.list-tecno>li:hover{

		background: transparent;
		color: #212529;
	}

	.active{
		color: white !important;
		background-color:rgba(84,211,217,1) !important;
	}
}


