.slide img
{
	aspect-ratio: 16/9;
	object-fit: cover;
	min-height: 300px;
	width: 500px;
}



.slide h3
{
	

}

.slide{ min-width:500px; height:100%; }

.slide:hover{
	cursor: pointer;
}


	
   /* color: var(--colorBlueMedium);
    background-color: red;
    width: 100%;
}*/
 .slide:hover .text-slide-box {
 	position: relative;
 	top: -40%;
 	left: 0px;
	background: rgba(0,0,0,.7);
	background-blend-mode: darken;
  	width: 100%;
  	height: 300px; 
  	transition: all .3s ease-in;
}

.text-slide-box h3
{	
	width: 100px;
	height: 100px;
	padding-top: 50px;
	margin: auto auto;
	font-size: 22pt;
    font-family: Roboto;
    font-weight: 700;
    color: var(--colorBlueLight);

}

.slider--inner
{	
	width: 500px;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 300px;
	transition: transform .7s ease-in;
	border-radius: 16px;
	padding: 0;

}

.slider{

	overflow: hidden;
	height: 300px;
	width: 100%;
	border-radius: 16px;
	border: 1px solid var(--colorBlueMedium);


}